*{
    padding: 4px;
}

body{
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    border: solid;
}
h1 {
    color: rgb(98, 98, 172);
}
label {
    display: inline-block;
    width: 120px;
    margin-bottom: 5px;
}
button {
    background-color: rgb(69, 78, 85);
    border-radius: 10px;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #ffffff;
    color: black;
    border: solid;
}