body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: rgb(98, 98, 172);
}

fieldset {
    border: 2px solid #ccc;
    margin-bottom: 15px;
    padding: 15px;
}

legend {
    font-weight: bold;
}

label {
    display: inline-block;
    width: 120px;
    margin-bottom: 5px;
}

input, select {
    margin-bottom: 10px;
}


button {
    background-color: rgb(69, 78, 85);
    border-radius: 10px;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff;
    color: black;
    border: solid;
}

